<h1>Listing people</h1>

<%= link_to 'New people', new_person_path %>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>

    <th colspan="3"></th>
  </tr>

  <% @people.each do |people| %>
      <tr>
        <td><%= people.title %></td>
        <td><%= people.text %></td>

        <td><%= link_to 'Show', person_path(people) %></td>
        <td><%= link_to 'Edit', edit_person_path(people) %></td>
        <td><%= link_to 'Destroy', people_path(people),
                        method: :delete,
                        data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>