<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<h1>Hello, Rails!</h1>

<%= nav_bar brand: "Members" do %>
    <%= menu_item "system users", sys_users_path %>
    <%= menu_item "Article", articles_path %>
    <%= menu_item "Home", root_path %>
    <%= menu_item "About Us", root_path %>
<% end %>

