<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @sysUser %>
        <%= @sysUser.userName %>
      </h1>
    </section>
  </aside>
</div>

<p>
  <strong>userName:</strong>
  <%= @sysUser.userName %>
</p>

<p>
  <strong>mobile:</strong>
  <%= @sysUser.mobile %>
</p>

<p>
  <strong>email:</strong>
  <%= @sysUser.email %>
</p>


<%= link_to 'Edit', edit_sys_user_path(@sysUser) %> |
<%= link_to 'Back', sys_users_path %>